<h1>Learning Html</h1>
<!--  -->

<!--
<h1>Learning</h1>

<p> whatever</p>
-->
<!--
<a href="https://www.facebook.com/login/">facebook</a>
-->
<p>
	<a href="http://www.thesquirrelboard.com/">thesquirrelboard</a>
</p>
<p>
	Always try to use
	<abbr title="Keep It Simple Stupid">
		KISS
	</abbr>
	when developing.
</p>

<p>
	I like to play
	<abbr title="Clash of clans">
		COC
	</abbr>
</p>

<address>
	706 W Burning Tree Ln <br>
	Arlington Heights Il 60004
</address>
<article>
	<h3>
		Service and Suport
	</h3>
	<p>
		Visit our multi-language <a href="www.poop.com">web site here</a>
	</p>
</article>

<article>
	<h3>
		UL Safety Notice
	</h3>
	<ul>
		<li>
			Do not pull a squirrel by the tail.
		</li>
		<li>
			Be sweet to your squirrel or else
			 it would bite you ...not lol.
	 	</li>
	 	<li>
			If your squirrel bites you,
			it's tottaly ok. Suck it up!!!!!
		</li>
	</ul>
</article>

<blockquote
	cite="www.brainyquote.com">
	The secret of getting ahead is getting started.
</blockquote>

<button type="button">Click Me!

</button>


<hr>




<p>
	<cite>The Mona Lisa
	</cite>
	by Leonardo da Vinci. Painted between 1503 and 1506.
</p>


</dl>
	<dt>Bread</dt>
	<dd>Whole Wheat 7 grains</dd>
	<dt>Cheesse</dt>
	<dd>Goat milk crumbled</dd>
	<dt>Coke</dt>
	<dd>Extremely bad for you</dd>
</dl>


<p>
	My favorite pet in the whole, wide world is
	<del>Muncha</del>
	<ins>Munchie</ins>!
</p>


<details>
	<summary>Munchie the squirrel.</summary>
	<p>
		Munchie is a baby squirrel that fell
	 	off our tree in a hot July day.
	</p>
	<p>
		He was a little sweet and extremely stubborn manipulator.
	</p>
	<p>
		We completely adored the little stinker:).
	</p>
</details>


<em>Munchie is sweet nostly when he sleeps</em>

<hr>

<h1>Munchie the squirrel</h1>
<h2>Muncha the fatty</h2>
<h3>Booboo the trouble maker</h3>
<h4>Blackie the sweet</h4>
<h5>Mama Munch the grump</h5>
<h6>Judd the squirrel lover</h6>

<hr>

<img src="/images/trouble-looking-baby-squirrel.jpg">

<img src="/images/baby-squirrel.jpg"  height="240">
<img src="images/cute-babies.jpg" height="240" width="266">

<hr>

<form>
	<label>First name:</label> <input type="Munchie" name="Lucky">
</form>

<button>Send</button>
<p>My favorite food is <del>salad</del> <ins>sushi</ins>.</p>

<p>Please don't forget to feed the <mark>munchies</mark> today!</p>


<meter value="11" min="0" max="12">11 out of 12</meter><br>
<meter value="0.7">70%</meter>


<nav>
	<a href="/home">Home</a>
	<a href="/faq">FAQ</a>
	<a href="http://www.thesquirrelboard.com/">Squirrel board</a>
</nav>


<ol>
	<li>Seeds</li>
	<li>Greens</li>
	<li>Fruit</li>
</ol>


<ol start="50">
	<li>Seeds</li>
	<li>Greens</li>
	<li>Fruit</li>
</ol>


<pre>Hello world!</pre>


<progress value="22" max="100"></progress>
<progress value="35" max="100"></progress>



<p>
	<q>What doesn't kill you makes you stronger</q>
</p>


<p><s>My pet's name is Munchie.</s></p>
<p>My new pet's name is Muncha.</p>


<p>
	This is a site destinated
	to teach you how to be a great
 	mom for baby squirrels that might
 	accidentally show up at your door lol.<br>
	<small>Please don't take everything I write seriously ;)!</small>
</p>



<!--
<h1>This is going to be such a cool site!!!!</h1>
	<p>Baa baa black sheep...</p>
<-->


<a href="http://localhost:3003/">rehabilitating baby squirrels</a>

<hr>


<p>
Always use
	<abbr title="What the F..k">WTF
	</abbr>
instead of what the f..k.
</p>
<p>
I love to say
	<abbr tittle="eat all the chocolate">EATC</abbr>.
</p>


<address>
	706 W Burning Tree ln<br>
	Arlington  Heights Il 60004
</address>


<article>
	<h1>
		Safari
	</h1>
	<p>
		Safari is a pretty cool browser.
	</p>
</article>


<article>
	<h1>
		Rehabilitating baby squirrels
	</h1>
	<p>
	You can visit us at
		<a href="http://localhost:3003/">website here</a>
	</p>
</article>


<article>
	<h1>
		Safety notice
	</h1>
	<ul>
		<li>
			Do not push your luck with squirrels!
		</li>
		<li>
			Be sweet, they will be mean anyway!
		</li>
		<li>
			Give them all the nuts you have or you will be in trouble!
		</li>
	</ul>
</article>


<p>This is a normal text-<b>and this is a bold text</b>.</p>


<blockquote
	cite="http://www.brainyquote.com/quotes/authors/p/paramahansa_yogananda.html">
	The season of failure is the best time for showing the seeds of success.
</blockquote>


<button type="button">Click here!
</button>

<hr>


<p>
	<cite>Mona Lisa</cite>
	by Leonardo da Vinci. Painted between 1503 and 1506.

</p>

<dl>
	<dt>Coke</dt>
	<dd>Tasty but bed for you</dd>
	<dt>Chocolate</dt>
	<dd>Yammy but comes with a big butt</dd>
	<dt>Pasta</dt>
	<dd>So fattening!!</dd>
</dl>


<p>
	My favorite pet is
	<del>Rex</del>
	<ins>Munchie</ins>!!!
</p>


<details>
	<summary>
		Munchie the squirrel
	</summary>
	<p>
		Munchie is sweet only when asleep.
	</p>
	<p>
		His favorite thing to do is bitting.
	</p>
	<p>
		Green beans always make him happy.
	</p>
	<p>
		He is a very sensitive little squirrel.
	</p>
</details>


<strong>Do not</strong> stick your finger in a squirrel's mouth.


<p>
	The most important fluid for our body is H<sub>2</sub>O.
</p>

<p>
	I came in 1<sup>st</sup> and feel pleased with myself.
</p>


<p>
	Judd wakes up at <time>6:00</time> every morning to feed the squirrels.
</p>
<p>
	I have a court date on
	<time datetime="2015-10-29 10:00">Monday</time>.
</p>


<em>Judson is a great teacher.</em>


<hr>

<img src="/images/grandma-and-me.jpg" height="250" width="350">
<img src="/images/munchie-and-daddy.jpg" height="250" width="200">


<p>
	I love
	<del>Muncha</del>
	<ins>Munchie.</ins>
</p>

<p>
	Remember <mark> not</mark> to give
	all the bread to the squirrels!
</p>


<meter value="4" min="0" max="10">4 out of 10</meter><br>
<meter value="0.7">70%</meter>


<nav>
	<a target="_blank" href="http://www.w3schools.com/html/default.asp">HTML</a>
	<a href="http://www.w3schools.com/css/default.asp">CSS</a>
	<a href="http://www.w3schools.com/js/default.asp">JavaScript</a>
	<a href="/">Home</a>
</nav>


<ol>
	<li>Nuts</li>
	<li>Shampoo</li>
	<li>Hair gel</li>
</ol>

<ol type="I" start="90">
	<li>Nuts</li>
	<li>Sampoo</li>
	<li>Hair gel</li>
</ol>


<video width="320" height="240" controls>
	<source src="/images/crazy-munchie.m4v">
</video>


<p>
	I love H<sub>2</sub>O.
</p>

<p>
	I came in 1<sup>st</sup>.
</p>


<p>
	I will be there at <time>9:00</time>.
</p>


<p>
	I will make sure the project will be
finished on
	<time datetime="2015-12-6 9:00"> St. Nicholas day</time>.
</p>


<!--This site was posible with great
help from Mr Younce also called "Poopy head" or "Squirrel".-->


<a href="/">Rehabilitating baby squirrels</a>

<p>
I need my stuff <abbr title="As Soon As Possible">ASAP</abbr> please.
</p>

<address>
	706 W Burning Tree Ln<br>
	Arlington Heights IL 60004
</address>

<article>
	<h3>
		Rehabilitating babby squirrels
	</h3>
	<ul>
		<li>

			Be sweet to baby squirrels!
		</li>
		<li>
			Do not mess up with squirrels!
		</li>
		<li>
			Let them sleep in your bed:)!
		</li>

	</ul>
</article>

<article>
	<h1>
		Rehabilitating baby squirrels
	</h1>
	<p>
		Rehabilitating baby squirrels is a site for
		anyone out there that comes accros baby squirrels
		and have no idea how to rehabilitate them.
	</p>
</article>

<p>

	I dislike fat foods <b>but i love healthy salads</b>.
</p>


<blockquote cite="http://www.brainyquote.com/quotes/authors/p/paramahansa_yogananda.html">
	Truth is exact correspondance with reality.
</blockquote>


Nothing in this worls is random<br>
everithing hapens for a reason.

<hr>

<button type="">Click here!
</button>


<p>
	<cite>
		Mona Lisa
	</cite>
	by Leonardo da Vinci. Painted between 1503 and 1506.
</p>


<dl>
	<dt>Juice</dt>
	<dd>Cold and yammy</dd>
	<dt>Apple cider</dt>
	<dd>Not as yammy as Livia's
	</dd>
</dl>


<p>
	I love <del>Muncha</del> <ins>Munchie</ins>.
</p>


<details>
<summary>Munchie the crazy squirrel</summary>
	<p>Always nice and sweet</p>
	<p>Potty trained lol</p>
	<p>Always nice to mommy</p>
</details>

<em>Blalala blalala blablabla.</em>
<hr>



<img src="images/grandma-and-me.jpg" height="250" width="350">

<p title="About Munchie">
Munchie is a cute, sneacky baby squirrel.
</p>


<img src="/images/munchie-and-daddy.jpg" alt="Munchie and daddy" width="250" height="300">
<hr>
<img src="http://www.netanimations.net/Animated-thanksgiving-dancing-turkey.gif" width="100" height="150">

<a href="http://www.w3schools.com" target="_link">
	<img src="https://labmidiacombr.files.wordpress.com/2014/05/zipper_emoticon.jpg"
	style="height:45px">
</a>

<p>
	<img src="http://www.femoticons.net/images/posts/silly_facebook_emoticon.png"
	style="float: right;" height="45">
	The image will float to the right of the text.
</p>


<table>
	<tr>
		<td>Munchie</td>
		<td>16 weeks</td>
		<td>1 1/2 puonds</td>
	<tr>
		<td>Muncha</td>
		<td>1 year old</td>
		<td>2 pounds</td>
	</tr>
</table>

<hr>

<table class="squirrels">
	<tr>
		<td>Munchie</td>
		<td>16 weeks</td>
		<td>1 1/2 pounds</td>
	</tr>
	<tr>
		<td>Muncha</td>
		<td>1 year old</td>
		<td>2 pounds</td>
	</tr>
	<tr>
		<td>Plaffy</td>
		<td>11 months old</td>
		<td>2 pounds</td>
	</tr>
</table>

<table class="squirrels" >
	<tr>
		<th>Squirrel's name</th>
		<th>Squirrel's age</th>
		<th>Weight</th>
	</tr>
	<tr>
		<td>Munchie</td>
		<td>16 weeks</td>
		<td>1 1/2 pounds</td>
	</tr>
	<tr>
		<td>Muncha</td>
		<td>1 year old</td>
		<td>2 pounds</td>
	</tr>
	<tr>
		<td>Plaffy</td>
		<td>11 months</td>
		<td>2 pounds</td>
	</tr>
</table>


<table class="squirrels">
	<tr>
		<th>Name</th>
		<th colspan="2">Telephone</th>
	</tr>
		<td>Munchie Younce</td>
		<td>773-886-8705</td>
		<td>312-972-2379</td>
	</tr>
</table>


<table class="squirrels">
	<tr>
		<th>Name</th>
		<td>Munchie Younce</td>
	</tr>
	<tr>
		<th rowspan="2">Telephone</th>
		<td>773-886-8705</td>
	</tr>
	<tr>
		<td>773-886-8705</td>
	</tr>
</table>


<table class="squirrels">
	<caption>Montly Savings</caption>
	<tr>
		<th>Month</th>
		<th>Savings</th>
	</tr>
	<tr>
		<td>January</td>
		<td>$100</td>
	</tr>
	<tr>
		<td>February</td>
		<td>$50)</td>
	</tr>
</table>


<table class="food">
	<caption>Munchie's Diet</caption>
	<tr>
		<th>Fruit</th>
		<th>Vegetables</th>
		<th>Other</th>
	</tr>
	<tr>
		<td>Apples</td>
		<td>Broccoli</td>
		<td>Pecans</td>
	</tr>
	<tr>
		<td>Grapes</td>
		<td>Green beans</td>
		<td>Sunflower seeds</td>
	</tr>
	<tr>
		<td>Peaches</td>
		<td>Carrots</td>
		<td>Peanuts</td>
	</tr>
</table>


<table>
	<colgroup>
		<col span="2" style="background-color: red">
		<col style="background-color: yellow">
	</colgroup>
	<tr>
		<th>ISBN</th>
		<th>Title</th>
		<th>Price</th>
	</tr>
	<tr>
		<td>3476896</td>
		<td>My first HTML</td>
		<td>$53</td>
	</tr>
</table>


<table>
	<thead>
		<tr>
			<th>Month</th>
			<th>Savings</th>
		</tr>
	</thead>

	<tfoot>
		<tr>
			<td>Sum</td>
			<td>$180</td>
		</tr>
	</tfoot>

	<tbody>
		<tr>
			<td>January</td>
			<td>$100</td>
		</tr>
		<tr>
			<td>February</td>
			<td>$80</td>
		</tr>

	</tbody>
</table>


<ul style="list-style-type: disc">
	<li>Nuts</li>
	<li>Milk</li>
	<li>Fruit</li>
</ul>

<ul style="list-style-type: circle">
	<li>Nuts</li>
	<li>Milk</li>
	<li>Fruit</li>
</ul>


<ul style="list-style-type: square">
	<li>Nuts</li>
	<li>Milk</li>
	<li>Fruit</li>
</ul>


<ul style="list-style-type: none">
	<li>Nuts</li>
	<li>Milk</li>
	<li>Fruit</li>
</ul>


<ol>
	<li>Nuts</li>
	<li>Milk</li>
	<li>Fruit</li>
</ol>


<ol type="1">
	<li>Nuts</li>
	<li>Milk</li>
	<li>Fruit</li>
</ol>

<ol type="A">
	<li>Nuts</li>
	<li>Milk</li>
	<li>Fruit</li>
</ol>


<ol type="a">
	<li>Nuts</li>
	<li>Milk</li>
	<li>Fruit</li>
</ol>


<ol type="I">
	<li>Nuts</li>
	<li>Milk</li>
	<li>Fruit</li>
</ol>

<ol type="i">
	<li>Nuts</li>
	<li>Milk</li>
	<li>Fruit</li>
</ol>


<dl>
	<dt>Coffee</dt>
	<dd>-black hot drink</dd>
	<dt>Milk</dt>
	<dd>-white cold drink</dd>
</dl>


<ul>
	<li>Coffee</li>
	<li>Tea
		<ul>
			<li>Black tea</li>
			<li>Green tea</li>
		</ul>
	</li>
	<li>Milk</li>
</ul>

<h3>Horizontal Lists</h3>
<ul class="horizontal">
	<li>Nuts</li>
	<li>Fruit</li>
	<li>Vegetables</li>
</ul>


<h3><span style="color: red">Horizontal</span> Lists</h3>
<ul class="links">
	<li><a href="/">HTML</a></li>
	<li><a href="/">CSS</a></li>
	<li><a href="/">JAVASCRIPT</a></li>
	<li><a href="/">SQL</a></li>
</ul>


<div style="background-color: red; color:white; padding:20px;">
<h3>Munchie</h3>
<p> Munchie is as sweet as sugar when he is asleep.</p>
</div>


<div class="crazies">
	<h3>Munchie</h3>
	<p>
		Munchie is as sweet as sugar when he is asleap.
	</p>
</div>

<div class="crazies">
	<h3>Flaffy</h3>
	<p>
		Flaffy loves to bark, protest, shake her tail
		and occasionally chase other squirrels while
		eatting.
	</p>
</div>


<h1>My <span class="cucu"> Crazzy</span> Munchie</h1>
<p>Munchie is <span class="cucu">out of control </span>from the second we walk on the door.</p>


<div class="header">
	<h1>Squirrels</h1>
</div>

<div class="moments">
	Food<br>
	Behaviour<br>
	Funny Moments<br>
</div>

<div class="munchie">
	<h3>Munchie</h3>
	<p>
		Munchie is the cutest thing that happend
		to my family. He fell off his nest on a hot
		July day and his mother abandoned him.
	</p>
	<p>
		No matter how sad that sounds the story
		has an happy ending. My husband and I
		decided to keep him until he is old enough
		to survive on his own.
	</p>

</div>

<div class="footer">
	Copyright © Alina Younce
</div>


<table class="lamp">
	<tr>
		<th>
			<img src="http://www.w3schools.com/images/lamp.jpg"
			style="height:32px;" width="32px">
		</th>
		<td>
			The table element was not
			designed to be a layout tool.
		</td>
	</tr>
</table>


<form>
	First name:<br>
	<input type="text" name="firstname">
	<br>
	Last name:<br>
	<input type="text" name="lastname">
</form>


<form>
	<input type="radio" name="sex"
	value="male" checked>Male
	<br>

	<input type="radio" name="sex"
	value="female">Female
</form>


<form action="action_page.php">
	First name:<br>

	<input type="text" name="firstname"
	value="Mickey">

	<br>

	Last name:<br>

	<input type="text" name="lastname"
	value="Mouse">

	<br><br>

	<input type="submit" value="Submit">
</form>


<form action="action_page.php">
 	First name:<br>

 	<input type="text" value="Mickey">

 	<br>

 	Last name:<br>

 	<input type="text" name="lastname"
 		value="Mouse">

 	<br><br>

 	<input type="submit" value="Submit">
 </form>


 <form action="action_page.php"
 	<fieldset>
 		<legend>Personal information</legend>
 		First name:<br>
 		<input type="text" name="firstnsme"
 		value="Mickey">
 		<br>
 		Last name:<br>
 		<input type="text" name="lastname"
 		value="Mouse">
 		<br><br>
 		<input type="submit" value="Submit">
 	</fieldset>

</form>


<select name="cars">
	<option value="volvo">Volvo</option>
	<option value="saab">Saab</option>
	<option value="fiat">Fiat</option>
	<option value="audi">Audi</option>
</select>

<br><br>

<textarea name="message" rows="10" cols="30">
The cat was playing in the garden.
</textarea>

<br>

<button type="button" onclick="alert
	('Hello World!')">Click Me!</button>
<br>

<form action="action_page.php">
	<input list="browsers">
	<datalist id="browsers">
		<option value="Internet Explorer">
		<option value="Firefox">
		<option value="Chrome">
		<option value="Opera">
		<option value="Safari">
	</datalist>
</form>

<br>

<form>
	First name:<br>
	<input type="text" name="firstname">
	<br>
	Last name:<br>
	<input type="text" name="lastname">
</form>

<br>
<form>
	User name:<br>
	<input type="text" name="username">
	<br>
	User password:<br>
	<input type="password" name="psw">
</form>

<br>


<form action="action_page.php">
First name:<br>
<input type="text" name="firstname"
	value="Mickey">
<br>
Last name:<br>
<input type="text" name="lastname"
     value="Mouse">
 <br><br>
 <input type="submit" value="Submit">
 </form>

<br>


<form>
	<input type="radio" name="sex"
	   value="male"  checked> Male
	<br>
	<input type="radio" name="sex"
	    value="Female"> Female
</form>

<br>


<form>
<input type="checkbox" name="vehicle1" value="Bike"> I have a bike
<br>
<input type="checkbox" name="vehicle2" value="Car"> I have a car
</form>

<br>

 <input type="button" onclick="alert('Hello World!')" value="Click Me"!>

 <br>

 <form>
 	Quantity (between 1 and 5):
 	<input type="number" name="quantity" min="1" max="5">
 </form>
<br>


<form>
	Birthday:
	<input type="date" name="bday">
</form>
<br>


<form>
	Select your favorite color"
	<input type="color" name="favcolor">
</form>
<br>


<form>
	<input type="range" name="points" min="0" max="10">
</form>


<form>
	Birthday (month and year):
	<input type="month" name="bdaymonth">
</form>
<br>

<form>
	Select a week:
	<input type="week"  name="week_year">
</form>
<br>


<form>
	Select a time:
	<input type="time" name="usr_time">
</form>
<br>

<form>
	Birthday (date and time):
	<input type="datetime" name="bdaytime">
</form>