<header>
	<img src="images/squirrel-logo.png">	
	<h1>Rehabbing Baby Squirrels</h1>
	<nav>
		<a href="/">Home</a>
		<a href="photo-gallery">Photo Gallery</a>
		<a href="behaviour">Behaviour</a>
		<a href="contact-us">Contact Us</a>
		<a href="faq">FAQ</a>
	</nav>
</header>


<aside>
	<h3>Learning</h3>
	<nav>
		<a href="/learning">text tags</a>
		<a href="/html-layout">layout tags</a>
		<a href="/html-layout-2">layout tags 2</a>
		<a href="/learning-css">learning css</a>
	</nav>

	<h3>Squirrel sites</h3>
	<nav>
		<a target="_blank" href="http://www.about-squirrels.com">about-squirrels.com</a>
		<a target="_blank" href="http://www.thesquirrelloversclub.com/">
			Welcome to The Squirrel Lover's Club
		</a>
		<a target="_blank" href="http://squirrelweb.co.uk/">SquirrelWeb</a>
	</nav>
</aside>


<main ng-view></main>


<aside>
	<h4>
		Squirrel of the Year
	</h4>
	<img src="/images/munchie-and-daddy.jpg" width="175">
	<h4>
		Squirrel of the Month
	</h4>
	<img src="images/trouble-looking-baby-squirrel.jpg" width="175">
</aside>


<footer> 
	<address>
		Oana Younce<br>
		706 W Burning Tree Ln<br>
		Arlington Heights IL 60004
	</address>
	<small>Copyright 2015 by The Younces</small>
</footer>

